
<div class="container">
<h2>Nova peça</h2>
<hr>


<div class="form-container">
        <form method="post">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="codigo">Código</label>
                    <input type="text" id="codigo" class="form-control" ng-model="vm.roupa.codigo" />
                </div>
                <div class="form-group">
                    <label for="data">Data de Entrada</label>
                    <input type="date" id="data" class="form-control" ng-model="vm.roupa.data-entrada" />
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <input type="text" id="tipo" class="form-control" ng-model="vm.roupa.tipo" />
                </div>
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <input type="text" id="marca" class="form-control" ng-model="vm.roupa.marca" />
                </div>
                <div class="form-group">
                    <label for="caracteristicas">Características</label>
                    <input type="text" id="caracteristicas" class="form-control" ng-model="vm.roupa.caracteristicas" />
                </div>
                <div class="form-group">
                    <label for="tamanho">Tamanho</label>
                    <input type="text" id="tamanho" class="form-control" ng-model="vm.roupa.tamanho" />
                </div>
            </div>
            <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cor">Cor</label>
                        <input type="text" id="cor" class="form-control" ng-model="vm.roupa.cor" />
                    </div>
                    <div class="form-group">
                        <label for="vetiqueta">Valor da etiqueta</label>
                        <input type="number" step="0.01" id="vetiqueta" class="form-control" ng-model="vm.roupa.etiqueta" />
                    </div>
                    <div class="form-group">
                        <label for="vpago">Valor Pago</label>
                        <input type="number" step="0.01" id="vpago" class="form-control" ng-model="vm.roupa.pago" />
                    </div>
                    <div class="form-group">
                        <label for="vmargem">Valor para margem de 100%</label>
                        <input type="number" step="0.01" id="vmargem" class="form-control" ng-model="vm.roupa.margem" />
                    </div>
                    <div class="form-group">
                        <label for="preco">Preço sugerido</label>
                        <input type="number" step="0.01" id="preco" class="form-control" ng-model="vm.roupa.sugerido" />
                    </div>
                    <div class="form-group">
                        <label for="imagem">Url da imagem</label>
                        <input type="text" id="imagem" class="form-control" ng-model="vm.roupa.url" />
                    </div>
                </div>
            <div class="form-group" style="float: right;">
                <button class="btn btn-primary" style="float: right;" ng-click="vm.saveRoupa()">Salvar peça</button>
            </div>
        </form>
</div>
</div>

<div class="container">
    <h3>Peças cadastradas</h3>

    <table class="table">
        <thead>
            <th>Codigo</th>
            <th class="text-center" style="float: right;">Ações</th>
        </thead>
        <tbody>
            <tr ng-repeat="q in vm.roupas">
                <td><a ng-click="vm.showRoupa(this)">{{ q.codigo }}</a></td>
                <td class="text-center">
                    <button class="btn btn-danger" style="float: right;" ng-click="vm.deleteRoupa(this)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
